.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
/*
.eheader {
  background-color: #282c34;
  min-height: 10vh;
  max-height: 500vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

.header {
  padding: 1px;
  text-align: center;
  background: white;
}

.header h1 {
  font-size: 50px;
  font-family: 'Raleway', sans-serif;
}

.leftcolumn {
  float: left;
  width: 20%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 80%;
  background-color: #f1f1f1;
  padding-left: 20px;
}



/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/* Style the top navigation bar */
.topnav {
  background-image: url(assets/navimg.jpeg);
  overflow: hidden;
  background-color: white;
  list-style-type: none;
  text-decoration: none;
}

/* Style the topnav links */
.topnav a {
  float: left;
  display: block;
  text-decoration: none;
  font-size: 20px;
  font-weight: 900;
  text-shadow: 0px 1px, 1px 0px, 1px 0px;
  font-family: 'Raleway', sans-serif;
  color: white;
  text-align: center;
  padding: 14px 16px;
  background: rgba(0, 0, 0, 0.55)
}

/* Change color on hover */
.topnav a:hover {
  background-color: transparent;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.NavBar {
  position: fixed;
  top: 0px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: transparent;
}

/* .navlink {
  float: left;
  font-family: 'Raleway', sans-serif;
  /* border-right: 1px solid #bbb;
} */

/* .navlink:last-child {
  border-right: none;
  float: right;
} */
/*
.navlink a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;

} */
li {
  text-decoration: none !important;
}

.logo {
  padding: 14px 16px;
  height: 70px;
  width: 70px;
  align: left;
}

.userIcon {
  height: 40px;
  width: 40px;
  float: right;
}
/* li a:hover:not(.active) {
  background-color: #111;
} */

.active {
  background-color: #4CAF50;
}

.w3-card-4{
  width: 50%
}
#celebImage {
  height: 250px;
  padding: 14px 16px;
  width: 360px;
  /* position: relative; */
  top: 3100px;
}


.container {
  width: 400px;
}

input {
  border: 1px solid;
  padding: 9px;
  margin: 0 0 10px 0;
}

.quote {
  background-color: white;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  color: black;
  margin: 0;
  padding: 20px;
  font-size: 20px;
}

.twitterIcon {
  height: 50px;
  width: 50px;
}

/* #progressBar {
  display: inline-block;
} */


/* Reset */
blockquote {
  padding: 0;
  margin: 0;
}

blockquote::after {
  border-color: transparent white transparent transparent;
  border-image: none;
  border-style: solid;
  border-width: 20px;
  top: 40px;
  content: " ";
  display: block;
  right: 75%;
  position: relative;
}





.sign {
  background-color: transparent;
  width: 250px;
  height: 165px;
  margin: 40px auto;
  text-align: center;
  /* bring your own prefixes */
  border-radius: 10px;
  border: 15px double red;
  position: relative;
  box-shadow: -1px 0px 106px 1px rgb(237,12,12);
}

h2 {
  margin-top: 35px;
  font-size: 5rem;
  color: transparent;
  -webkit-text-stroke-width: 6px;
  -webkit-text-stroke-color: gold;
  font-family: 'Futura', sans-serif;
  text-shadow: 0 -40px 100px, 0 0 2px, 0 0 1em gold, 0 0 0.5em #ff4444, 0 0 0.1em #ff4444;
   animation: blink linear infinite 5s;
}

p {
  font-family: 'Futura', sans-serif;
}
@keyframes blink {
0% { opacity: 0; }

  // flicker
  5%  { opacity: 0; }
  6% { opacity: 1; }
  11% { opacity: .4; }
  11.25% { opacity: .6; }
  11.5% { opacity: .4; }
  18% { opacity: 1; }
  18.5% { opacity: .9; }
  22% { opacity: 1; }

   // flicker
  38.5% { opacity: 1; }
  39% { opacity: .8; }
  42% { opacity: 1; }

  // flicker
  60% { opacity: 1; }
  60.5% { opacity: 0; }
  62% { opacity: 0; }
  63% { opacity: .2; }
  63.25% { opacity: 0; }
  65% { opacity: 1; }

  // flicker
  73% { opacity: 1; }
  75% { opacity: .8; }
  79% { opacity: 1; }

  100% { opacity: 1; }
}
